﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="adminContracts.aspx.cs" Inherits="Magnolia.app.adminContracts" MasterPageFile="~/app/Master.master" %>
<%@ Register Assembly="DevExpress.Web.v20.2, Version=20.2.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.Bootstrap.v20.2, Version=20.2.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web.Bootstrap" TagPrefix="dx" %>
<%@ MasterType VirtualPath="Master.master" %>
<asp:Content ID="Content1" runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
<style>  
    .gridHeader {  
        background-color: white;  
        color:black;
        text-wrap:normal;
        white-space:normal;
        word-wrap:break-word;
        overflow-wrap:break-word;
        font-weight:bold;
        font-size:small;
        font-family:Arial;
    }  
    .gridHeader a {  
        color: black;  
        text-wrap:normal;
        white-space:normal;
        word-wrap:break-word;
        overflow-wrap:break-word;
    }  
</style>
<script type="text/javascript">
    function AdjustHeight(s, e) {
        gvContracts.SetHeight(window.innerHeight * .75);
        gvContracts.SetWidth(window.innerWidth * .95);
    }
</script>
<br/>
<div style="display:flex; flex-direction:row;width:95%;">
    <div style="text-align:center;width:100%;top:40px;padding:10px;position:absolute;z-index:1">
        <table align="center" style="padding:10px">
            <tr>
                <td style="border: none;font-size:12pt;padding:5px">Legend:</td>
                <td style="color:brown;background-color:khaki;border: thin solid gainsboro;font-size:12pt;padding:5px">My Submittals</td>
                <td style="color:darkgreen;background-color:palegreen;border: thin solid gainsboro;font-size:12pt;padding:5px">Awaiting My Approval</td>
                <td style="color:brown;background-color:lightpink;border: thin solid gainsboro;font-size:12pt;padding:5px">Denied</td>
            </tr>
        </table>
    </div>
    <div style="width:20%;right:0px;position:absolute;padding:0px;z-index:998;vertical-align:top;">
        <dx:ASPxCheckBox ID="cbMine" runat="server" Text="My Contracts" ToggleSwitchDisplayMode="Always" Font-Size="Large" OnCheckedChanged="cbMine_CheckedChanged" AutoPostBack="true"></dx:ASPxCheckBox>
    </div>
</div>
<br />
<div style="overflow:auto;">
    <dx:aspxGridView ID="gvContracts" ClientInstanceName="gvContracts" runat="server" DataSourceID="dsContracts" KeyFieldName="contractId" OnHtmlDataCellPrepared="gvContracts_HtmlDataCellPrepared"  OnSearchPanelEditorInitialize="gvContracts_SearchPanelEditorInitialize" OnHeaderFilterFillItems="gvContracts_HeaderFilterFillItems">
        <ClientSideEvents Init="AdjustHeight" />
        <Toolbars>
            <dx:GridViewToolbar>
                <SettingsAdaptivity Enabled="true" EnableCollapseRootItemsToIcons="true" />
                <Items>
                    <%--<dx:GridViewToolbarItem Command="ExportToPdf" />--%>
                    <dx:GridViewToolbarItem Command="ExportToXlsx" />
                    <%--<dx:GridViewToolbarItem Command="ExportToDocx" />--%>
                </Items>
            </dx:GridViewToolbar>
        </Toolbars>
        <Columns>
            <dx:GridViewDataColumn FieldName="contractId" Visible="false"></dx:GridViewDataColumn>
            <dx:GridViewDataColumn FieldName="contractType" Caption="Contract<br/>Type" HeaderStyle-CssClass="gridHeader"></dx:GridViewDataColumn>
            <dx:GridViewDataColumn FieldName="department" Caption="Department" HeaderStyle-CssClass="gridHeader"></dx:GridViewDataColumn>
            <dx:GridViewDataColumn FieldName="contractNumber" Caption="Contract<br/>Number" HeaderStyle-CssClass="gridHeader"></dx:GridViewDataColumn>
            <dx:GridViewDataColumn FieldName="masterContractNumber" Caption="Master<br/>Contract" HeaderStyle-CssClass="gridHeader" Visible="false"></dx:GridViewDataColumn>
            <dx:GridViewDataHyperLinkColumn FieldName="contractId" Caption="Party" CellStyle-HorizontalAlign="Left" Settings-FilterMode="DisplayText" AllowTextTruncationInAdaptiveMode="false" HeaderStyle-CssClass="gridHeader">
                <PropertiesHyperLinkEdit NavigateUrlFormatString="contractDetails.aspx?id={0}" TextField="businessName"></PropertiesHyperLinkEdit>
                <SettingsHeaderFilter Mode="CheckedList"></SettingsHeaderFilter>
            </dx:GridViewDataHyperLinkColumn>
            <dx:GridViewDataColumn FieldName="contractId" Visible="false"></dx:GridViewDataColumn>
            <dx:GridViewDataDateColumn FieldName="startDate" Caption="Start Date" HeaderStyle-CssClass="gridHeader" Settings-SortMode="Value">
                <SettingsHeaderFilter Mode="DateRangeCalendar"></SettingsHeaderFilter>
            </dx:GridViewDataDateColumn>
            <dx:GridViewDataDateColumn FieldName="endDate" Caption="End Date" HeaderStyle-CssClass="gridHeader" Settings-SortMode="Value">
                <SettingsHeaderFilter Mode="DateRangeCalendar"></SettingsHeaderFilter>
            </dx:GridViewDataDateColumn>
            <dx:GridViewDataHyperLinkColumn FieldName="entryUserId" Caption="Requestor" CellStyle-HorizontalAlign="Left" Settings-FilterMode="DisplayText" HeaderStyle-CssClass="gridHeader">
                <PropertiesHyperLinkEdit TextField="fullName" NavigateUrlFormatString="adminUsers.aspx?tab=users&userId={0}"></PropertiesHyperLinkEdit>
                <SettingsHeaderFilter Mode="CheckedList"></SettingsHeaderFilter>
            </dx:GridViewDataHyperLinkColumn>
            <dx:GridViewDataColumn FieldName="statusType" Caption="Status" HeaderStyle-CssClass="gridHeader">
                <SettingsHeaderFilter Mode="CheckedList"></SettingsHeaderFilter>
            </dx:GridViewDataColumn>
            <dx:GridViewDataColumn FieldName="isPartySigned" Caption="Vendor</br/>Signed?" HeaderStyle-CssClass="gridHeader" HeaderStyle-HorizontalAlign="Center">
                <SettingsHeaderFilter Mode="CheckedList"></SettingsHeaderFilter>
            </dx:GridViewDataColumn>
            <dx:GridViewDataColumn FieldName="roleName" Caption="Current Role" HeaderStyle-CssClass="gridHeader">
                <SettingsHeaderFilter Mode="CheckedList"></SettingsHeaderFilter>
            </dx:GridViewDataColumn>
            <dx:GridViewDataColumn FieldName="statusFullName" Caption="Assigned To" HeaderStyle-CssClass="gridHeader">
                <SettingsHeaderFilter Mode="CheckedList"></SettingsHeaderFilter>
            </dx:GridViewDataColumn>
            <dx:GridViewDataColumn FieldName="documentId" Visible="false"></dx:GridViewDataColumn>
            <dx:GridViewDataColumn FieldName="fileName" Visible="false"></dx:GridViewDataColumn>
            <dx:GridViewDataColumn FieldName="path" Visible="false"></dx:GridViewDataColumn>
            <dx:GridViewDataDateColumn FieldName="documentTypeId" Visible="false"></dx:GridViewDataDateColumn>
            <dx:GridViewDataDateColumn FieldName="statusDate" Visible="true" Caption="Status Date" Settings-SortMode="Value" HeaderStyle-CssClass="gridHeader"></dx:GridViewDataDateColumn>
            <dx:GridViewDataSpinEditColumn FieldName="estimatedTotalCost" Caption="Total Cost" HeaderStyle-CssClass="gridHeader" SettingsHeaderFilter-Mode="CheckedList" Settings-AutoFilterCondition="GreaterOrEqual">
                <PropertiesSpinEdit NumberFormat="Currency"></PropertiesSpinEdit>
            </dx:GridViewDataSpinEditColumn>
            <dx:GridViewDataCheckColumn FieldName="botApproval" Caption="BOT<br/>Approved?" HeaderStyle-CssClass="gridHeader" HeaderStyle-HorizontalAlign="Center">
                <PropertiesCheckEdit NullDisplayText="False" ValueType="System.Boolean" AllowGrayed="true"></PropertiesCheckEdit>
                <SettingsHeaderFilter Mode="List"></SettingsHeaderFilter>
            </dx:GridViewDataCheckColumn>
            <dx:GridViewDataDateColumn FieldName="botApprovalDate" Visible="true" Caption="BOT Date" Settings-SortMode="Value" HeaderStyle-CssClass="gridHeader"></dx:GridViewDataDateColumn>
            <dx:GridViewDataColumn Name="Documents" Caption="Documents" HeaderStyle-CssClass="gridHeader"></dx:GridViewDataColumn>
            <dx:GridViewDataColumn FieldName="myContracts" Visible="false"></dx:GridViewDataColumn>
            <dx:GridViewDataColumn FieldName="overDueContracts" Visible="false"></dx:GridViewDataColumn>
        </Columns>
        <FormatConditions>
            <dx:GridViewFormatConditionHighlight FieldName="mySubmittals" Expression="[mySubmittals] = 1" Format="YellowFillWithDarkYellowText" ApplyToRow="true"></dx:GridViewFormatConditionHighlight>
            <dx:GridViewFormatConditionHighlight FieldName="myContracts" Expression="[myContracts] = 1" Format="GreenFillWithDarkGreenText" ApplyToRow="true"></dx:GridViewFormatConditionHighlight>
            <dx:GridViewFormatConditionHighlight FieldName="statusType" Expression="[statusType] = 'Denied'" Format="LightRedFill" ApplyToRow="true"></dx:GridViewFormatConditionHighlight>
        </FormatConditions>
        <%--<CssClassesPager PageNumber="pageBackGround" CurrentPageNumber="pageBackGround" />--%>
        <SettingsPager PageSize="15" ShowNumericButtons="true" Position="Bottom">
            <%--<PageSizeItemSettings Items="25, 50, 100, 250" Visible="true" Position="Right" ShowAllItem="false"/>--%>
        </SettingsPager>
        <SettingsBehavior AllowSort="true" ConfirmDelete="true" SortMode="DisplayText" />
        <SettingsExport EnableClientSideExportAPI="true" ExcelExportMode="WYSIWYG" Landscape="true" FileName="Contracts" SplitDataCellAcrossPages="false" />
        <Settings ShowHeaderFilterButton="true" VerticalScrollBarMode="Auto" />
        <SettingsCommandButton SearchPanelClearButton-Styles-Style-Font-Size="Medium" SearchPanelApplyButton-Styles-Style-Font-Size="Medium" RenderMode="Button"></SettingsCommandButton>
        <SettingsSearchPanel Visible="true" ShowApplyButton="true" ShowClearButton="true" AllowTextInputTimer="false" />
        <Settings ShowFilterRow="true" ShowFilterRowMenu="true" />
    </dx:aspxGridView>
</div>
<asp:SqlDataSource ID="dsContracts" runat="server" ConnectionString="<%$ ConnectionStrings:cmsConn %>"
    SelectCommand="usp_getContractsEnhanced" SelectCommandType="StoredProcedure" OnSelecting="dsContracts_Selecting" 
    DeleteCommand="usp_deleteContract" DeleteCommandType="StoredProcedure">
    <DeleteParameters>
        <asp:Parameter Name="cid" />
    </DeleteParameters>
    <SelectParameters>
        <asp:Parameter Name="contractId" DefaultValue="0" />
        <asp:SessionParameter Name="isAdmin" SessionField="isAdmin" />
        <asp:SessionParameter Name="userFullName" SessionField="UserName" />
        <asp:Parameter Name="myContracts" DefaultValue="0" />
    </SelectParameters>
</asp:SqlDataSource>
<asp:SqlDataSource ID="dsDocuments" runat="server" ConnectionString="<%$ ConnectionStrings:cmsConn %>"
    SelectCommand="usp_getDocuments" SelectCommandType="StoredProcedure">
    <SelectParameters>
        <asp:Parameter Name="contractId" />
    </SelectParameters>
</asp:SqlDataSource>
</asp:Content>