﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="adminAlerts.aspx.cs" Inherits="Magnolia.app.adminAlerts" MasterPageFile="~/app/Master.master" %>
<%@ Register Assembly="DevExpress.Web.v20.2, Version=20.2.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web" TagPrefix="dx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <br />
    <dx:ASPxGridView ID="gvAlerts" runat="server" DataSourceID="dsAlerts" KeyFieldName="contractTypeId">
        <Columns>
            <dx:GridViewDataColumn FieldName="contractTypeId" Visible="false"></dx:GridViewDataColumn>
            <dx:GridViewCommandColumn ShowEditButton="true"></dx:GridViewCommandColumn>
            <dx:GridViewDataColumn FieldName="contractType" Caption="Contract Type"></dx:GridViewDataColumn>
            <dx:GridViewDataSpinEditColumn FieldName="renewal" Caption="Days Before Renewal"></dx:GridViewDataSpinEditColumn>
            <dx:GridViewDataSpinEditColumn FieldName="overdue" Caption="Days Before Overdue"></dx:GridViewDataSpinEditColumn>
        </Columns>
        <SettingsDataSecurity AllowEdit="true" />
        <SettingsEditing Mode="Inline"></SettingsEditing>
    </dx:ASPxGridView>
    <asp:SqlDataSource ID="dsAlerts" runat="server" ConnectionString="<%$ ConnectionStrings:cmsConn %>" 
        SelectCommand="usp_getAlerts" SelectCommandType="StoredProcedure" UpdateCommand="usp_updateAlerts" UpdateCommandType="StoredProcedure">
        <UpdateParameters>
            <asp:Parameter Name="contractTypeId" />
            <asp:Parameter Name="renewal" />
            <asp:Parameter Name="overdue" />
        </UpdateParameters>
    </asp:SqlDataSource> 
</asp:Content>