﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="contracts.aspx.cs" Inherits="Magnolia.app.contracts" MasterPageFile="~/app/Master.master" %>
<%@ MasterType VirtualPath="~/app/Master.master" %>
<%@ Register Assembly="DevExpress.Web.v20.2, Version=20.2.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web" TagPrefix="dx" %>
<%@ Register Assembly="DevExpress.Web.Bootstrap.v20.2, Version=20.2.10.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" Namespace="DevExpress.Web.Bootstrap" TagPrefix="dx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
<style>  
    .gridHeader {  
        background-color: white;  
        color:black;
        text-wrap:normal;
        white-space:normal;
        word-wrap:break-word;
        overflow-wrap:break-word;
        font-weight:bold;
        font-size:small;
        font-family:Arial;
    }  
    .gridHeader a {  
        color: black;  
        text-wrap:normal;
        white-space:normal;
        word-wrap:break-word;
        overflow-wrap:break-word;
    }  
    .pageBackGround {
        color:white;
        background-color:green;
    }
    .pageBackGround a {
        color:white;
        background-color:green;
    }
    .wrapText {
        text-wrap:normal;
        white-space:normal;
        word-wrap:break-word;
        overflow-wrap:break-word;
    }
    .dx-search-panel {  
        width: 1000px !important;  
        margin: 0 auto;  
}  
</style>
<div style="display:flex; flex-direction:row;width:95%;">
    <div style="width:30%;left:25px;position:absolute;padding:10px;z-index:999">
        <dx:ASPxHyperLink ID="hlNew" runat="server" Text="New Request" NavigateUrl="contractQuestionnaire.aspx" Font-Size="Medium" Font-Underline="true" Cursor="pointer"></dx:ASPxHyperLink>
    </div>
    <div style="text-align:center;width:100%;top:40px;padding:10px;position:absolute;z-index:1">
        <table align="center" style="padding:10px">
            <tr>
                <td style="border: none;font-size:12pt;padding:5px">Legend:</td>
                <td style="color:brown;background-color:khaki;border: thin solid gainsboro;font-size:12pt;padding:5px">My Submittals</td>
                <td style="color:darkgreen;background-color:palegreen;border: thin solid gainsboro;font-size:12pt;padding:5px">Awaiting My Approval</td>
                <td style="color:brown;background-color:lightpink;border: thin solid gainsboro;font-size:12pt;padding:5px">Denied</td>
            </tr>
        </table>
    </div>
    <div style="width:20%;right:0px;position:absolute;padding:10px;z-index:998">
<%--        <dx:ASPxCheckBox ID="cbInactive" runat="server" Text="Include Inactive" ToggleSwitchDisplayMode="Always" Font-Size="Large" OnCheckedChanged="cbInactive_CheckedChanged" AutoPostBack="true"></dx:ASPxCheckBox>--%>
        <dx:ASPxCheckBox ID="cbMine" runat="server" Text="My Contracts" ToggleSwitchDisplayMode="Always" Font-Size="Large" OnCheckedChanged="cbMine_CheckedChanged" AutoPostBack="true"></dx:ASPxCheckBox>
    </div>
</div>
<br /><br />
    <script type="text/javascript">
        function AdjustHeight(s, e) {
            gvContracts.SetHeight(window.innerHeight * .75);
            gvContracts.SetWidth(window.innerWidth * .95);
        }
    </script>
    <div style="overflow:auto;">
        <dx:aspxGridView ID="gvContracts" ClientInstanceName="gvContracts" runat="server" EnableTheming="true" Theme="Metropolis" KeyFieldName="contractId" 
            OnHtmlDataCellPrepared="gvContracts_HtmlDataCellPrepared" OnSearchPanelEditorInitialize="gvContracts_SearchPanelEditorInitialize" OnHeaderFilterFillItems="gvContracts_HeaderFilterFillItems">
            <ClientSideEvents Init="AdjustHeight" />
            <Columns>
                <dx:GridViewDataColumn FieldName="contractType" Caption="Contract<br/>Type" HeaderStyle-CssClass="gridHeader" SettingsHeaderFilter-Mode="CheckedList"></dx:GridViewDataColumn>
                <dx:GridViewDataColumn FieldName="department" Caption="Department" CellStyle-CssClass="wrapText" HeaderStyle-CssClass="gridHeader" SettingsHeaderFilter-Mode="CheckedList"></dx:GridViewDataColumn>
                <dx:GridViewDataColumn FieldName="contractNumber" Caption="Contract<br/>Number" HeaderStyle-CssClass="gridHeader" SettingsHeaderFilter-Mode="CheckedList"></dx:GridViewDataColumn>
                <dx:GridViewDataColumn FieldName="masterContractNumber" Visible="false" Caption="Master<br/>Contract" HeaderStyle-CssClass="gridHeader" SettingsHeaderFilter-Mode="CheckedList"></dx:GridViewDataColumn>
                <dx:GridViewDataHyperLinkColumn FieldName="contractId" Caption="Party" CellStyle-HorizontalAlign="Left" Settings-FilterMode="DisplayText" CellStyle-CssClass="wrapText" HeaderStyle-CssClass="gridHeader" SettingsHeaderFilter-Mode="CheckedList">
                    <PropertiesHyperLinkEdit NavigateUrlFormatString="contractDetails.aspx?id={0}" TextField="businessName"></PropertiesHyperLinkEdit>
                </dx:GridViewDataHyperLinkColumn>
                <dx:GridViewDataDateColumn FieldName="startDate" Caption="Start Date" HeaderStyle-CssClass="gridHeader" Settings-SortMode="Value">
                    <%--<SettingsHeaderFilter Mode="DateRangeCalendar"></SettingsHeaderFilter>--%>
                </dx:GridViewDataDateColumn>
                <dx:GridViewDataDateColumn FieldName="endDate" Caption="End Date" HeaderStyle-CssClass="gridHeader" Settings-SortMode="Value">
                    <%--<SettingsHeaderFilter Mode="DateRangeCalendar"></SettingsHeaderFilter>--%>
                </dx:GridViewDataDateColumn>
                <dx:GridViewDataHyperLinkColumn FieldName="entryUserId" Caption="Requestor" CellStyle-HorizontalAlign="Left" Settings-FilterMode="DisplayText" CellStyle-CssClass="wrapText" HeaderStyle-CssClass="gridHeader" SettingsHeaderFilter-Mode="CheckedList">
                    <PropertiesHyperLinkEdit TextField="fullName" NavigateUrlFormatString="adminUsers.aspx?tab=users&userId={0}"></PropertiesHyperLinkEdit>
                    <%--<SettingsHeaderFilter Mode="CheckedList"></SettingsHeaderFilter>--%>
                </dx:GridViewDataHyperLinkColumn>
                <dx:GridViewDataColumn FieldName="statusType" Caption="Status" HeaderStyle-CssClass="gridHeader" SettingsHeaderFilter-Mode="CheckedList">
                    <%--<SettingsHeaderFilter Mode="CheckedList"></SettingsHeaderFilter>--%>
                </dx:GridViewDataColumn>
                <dx:GridViewDataColumn FieldName="roleName" Caption="Current Role" CellStyle-CssClass="wrapText" HeaderStyle-CssClass="gridHeader" SettingsHeaderFilter-Mode="CheckedList">
                    <%--<SettingsHeaderFilter Mode="CheckedList"></SettingsHeaderFilter>--%>
                </dx:GridViewDataColumn>
                <dx:GridViewDataColumn FieldName="statusFullName" Caption="Assigned To" CellStyle-CssClass="wrapText" HeaderStyle-CssClass="gridHeader" SettingsHeaderFilter-Mode="CheckedList">
                    <%--<SettingsHeaderFilter Mode="CheckedList"></SettingsHeaderFilter>--%>
                </dx:GridViewDataColumn>
                <dx:GridViewDataDateColumn FieldName="statusDate" Caption="Status Date" HeaderStyle-CssClass="gridHeader" Settings-SortMode="Value"></dx:GridViewDataDateColumn>
                <dx:GridViewDataColumn FieldName="isPartySigned" Caption="Party<br/>Signed?" HeaderStyle-CssClass="gridHeader" HeaderStyle-HorizontalAlign="Center" SettingsHeaderFilter-Mode="CheckedList"></dx:GridViewDataColumn>
                <dx:GridViewDataSpinEditColumn FieldName="estimatedTotalCost" Caption="Total Cost" HeaderStyle-CssClass="gridHeader" SettingsHeaderFilter-Mode="CheckedList">
                    <PropertiesSpinEdit NumberFormat="Currency"></PropertiesSpinEdit>
                </dx:GridViewDataSpinEditColumn>
                <dx:GridViewDataColumn Name="Documents" Caption="Documents" AllowTextTruncationInAdaptiveMode="false" HeaderStyle-CssClass="gridHeader"></dx:GridViewDataColumn>
                <dx:GridViewDataColumn FieldName="contractId" Visible="false"></dx:GridViewDataColumn>
                <dx:GridViewDataColumn FieldName="myContracts" Visible="false"></dx:GridViewDataColumn>
            </Columns>
            <FormatConditions>
                <dx:GridViewFormatConditionHighlight FieldName="mySubmittals" Expression="[mySubmittals] = 1" Format="YellowFillWithDarkYellowText" ApplyToRow="true"></dx:GridViewFormatConditionHighlight>
                <dx:GridViewFormatConditionHighlight FieldName="myContracts" Expression="[myContracts] = 1" Format="GreenFillWithDarkGreenText" ApplyToRow="true"></dx:GridViewFormatConditionHighlight>
                <dx:GridViewFormatConditionHighlight FieldName="statusType" Expression="[statusType] = 'Denied'" Format="LightRedFill" ApplyToRow="true"></dx:GridViewFormatConditionHighlight>
            </FormatConditions>
            <SettingsPager PageSize="10" ShowNumericButtons="true" Position="Bottom">
                <%--<PageSizeItemSettings Items="25, 50, 100, 250" Visible="true" Position="Right" ShowAllItem="false"/>--%>
            </SettingsPager>
            <SettingsBehavior AllowSort="true" SortMode="DisplayText" AllowEllipsisInText="false" />
            <SettingsCommandButton SearchPanelClearButton-Styles-Style-Font-Size="Medium" SearchPanelApplyButton-Styles-Style-Font-Size="Medium" RenderMode="Button"></SettingsCommandButton>
            <Settings ShowHeaderFilterButton="true" VerticalScrollBarMode="Auto" />
            <SettingsSearchPanel Visible="true" ShowApplyButton="true" ShowClearButton="true" AllowTextInputTimer="false"/>
            <SettingsResizing ColumnResizeMode="Control" />
        </dx:aspxGridView>
    </div>
<dx:ASPxLabel ID="sqlErrorMessage" runat="server" ClientVisible="false"></dx:ASPxLabel>
<dx:ASPxLabel ID="lblQuery" runat="server" ClientVisible="false"></dx:ASPxLabel>
<asp:SqlDataSource ID="dsContracts" runat="server" ConnectionString="<%$ ConnectionStrings:cmsConn %>"
    SelectCommand="usp_getContractsEnhanced" SelectCommandType="StoredProcedure" OnSelecting="dsContracts_Selecting" OnSelected="dsContracts_Selected"
    DeleteCommand="usp_deleteContract" DeleteCommandType="StoredProcedure">
    <DeleteParameters>
        <asp:Parameter Name="contractId" />
    </DeleteParameters>
    <SelectParameters>
        <asp:Parameter Name="contractId" DefaultValue="0" />
        <asp:SessionParameter Name="isAdmin" SessionField="isAdmin" />
        <asp:SessionParameter Name="userFullName" SessionField="UserName" />
        <asp:Parameter Name="myContracts" DefaultValue="0" />
        <asp:Parameter Name="inactive" DefaultValue="0" />
    </SelectParameters>
</asp:SqlDataSource>
</asp:Content>