﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="documents.aspx.cs" Inherits="Magnolia.app.documents" MasterPageFile="~/app/Master.master"%>
<%@ MasterType VirtualPath="~/app/Master.master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
